$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px,
    "sm": 567px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px 
);

$header-height: 5rem;

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

body {
    margin: 0;
    padding: 0 1rem;
    height: 100vh;
}

.flex-container {
    height: calc(100vh - #{$header-height});
        align-items: stretch;
        display: flex;
    @include mq('sm', 'max') {
        flex-direction: column;
    }
}

.header {
    margin: 0;
    height: $header-height;
    background: #fff;

    @include mq('sm') {
        line-height: $header-height;
    }
}

nav {
    max-width: 20rem;
    width: 20%;
    margin-right: 15px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            line-height: 2rem;
            display: block;
            border: 1px solid #aaa;
            padding: .3rem;
            margin-bottom: 5px;
            cursor: pointer;
            &.active {
                background-color: #eee;
            }
        }
    }

    @include mq('sm', 'max') {
        max-width: 100%;
        width: 100%;
    }
}


main {
    background: #aaa;
    width: 100%;
    height: 100%;

    .chart-container {
        .chart-contols {
            
            input {
                font-size: 1.6rem;
                width: 5rem;
                display: inline-block;
            }
        
        }

        canvas{
            height: 100%;
            width: 100%;
            background-color: #fafafa;
        }
        height: 100%;
        width: 100%;
        // background-color: red;
        display: none;
        &.active {
            display: block;
        }
        &.loading {
            opacity: 0;
            display: block;
        }
    }

}
